---
title: Homework 7 - Creating a resume database
author: Antony Fuentes
date: last-modified
format:
    html:
        theme: cosmo
        toc: true
        embed-resources: true
        code-copy: true
---

The document is structured to present a database project's details and functionality using a combination of markdown text and Python code cells. It covers an overview of the project's aim, an explanation of an ER diagram, descriptions of database tables ('People,' 'Skills,' and 'Roles'), snapshots of table data, sample SQL queries, and their respective outputs. Overall, it efficiently combines explanations, code snippets, and query results to demonstrate the database's design, contents, and querying capabilities.


GITHUB URL:  <https://github.com/cmsc-vcu/cmsc508-fa2023-hw7-Antony12610>

In [ ]:
#| eval: true
#| echo: false
import os
import sys
import pandas as pd
from tabulate import tabulate
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
from sqlalchemy.exc import OperationalError, ProgrammingError
from IPython.display import display, Markdown

In [ ]:
#| eval: true
#| echo: false
# modify config_map to reflect credentials needed by this program
config_map = {
    'user':'CMSC508_USER',
    'password':'CMSC508_PASSWORD',
    'host':'CMSC508_HOST',
    'database':'HW7_DB_NAME'
}
# load and store credentials
load_dotenv()
config = {}
for key in config_map.keys():
    config[key] = os.getenv(config_map[key])
flag = False
for param in config.keys():
    if config[param] is None:
        flag = True
        print(f"Missing {config_map[param]} in .env file")
#if flag:
#    sys.exit(1)

In [ ]:
#| eval: true
#| echo: false
# build a sqlalchemy engine string
engine_uri = f"mysql+pymysql://{config['user']}:{config['password']}@{config['host']}/{config['database']}"
# create a database connection.  THIS IS THE ACTUAL CONNECTION!
try:
    cnx = create_engine(engine_uri)
except ArgumentError as e:
    print(f"create_engine: Argument Error: {e}")
    #sys.exit(1)
except NoSuchModuleError as e:
    print(f"create_engine: No Such Module Error: {e}")
    #sys.exit(1)
except Exception as e:
    print(f"create_engine: An error occurred: {e}")
    #sys.exit(1)

In [ ]:
#| echo: false
#| eval: true
# Do a quick test of the connection and trap the errors better!
try:
    databases = pd.read_sql("show databases",cnx)
except ImportError as e:
    print(f"Error: {e}")
except OperationalError as e:
    print(f"Database/SQL Error:\n{str(e)}\n")
except ProgrammingError as e:
    print(f"Programming Error:\n{str(e)}\n")
except Exception as e:
    print(f"An error occurred:\n{str(e)}\n")

## Overview and description

This project centers on constructing a comprehensive database to consolidate the skills, certifications, and roles of company employees. It aims to streamline skill-based employee searches, track skill acquisition and anticipated dates, and facilitate role assignments. The database encompasses tables for skills/certifications, employees, and roles, fostering associations between skills and employees as well as employees and roles. It serves to identify skill sets, evaluate employee skills, and analyze skill gaps within specific roles, fostering efficient talent management and skill optimization within the company.

## Crows-foot diagram

(add a description of the diagram and what the reader is seeing.)


```{mermaid}
%%| echo: false
   erDiagram
    SKILLS ||--o{ PEOPLESKILLS : ""
    PEOPLE ||--o{ PEOPLESKILLS: ""
    PEOPLE ||--o{ PEOPLE_ROLES : ""
    ROLES ||--o{ PEOPLE_ROLES : ""
    
    SKILLS {
        int id
        varchar name
        varchar description
        varchar tag
        varchar url 
        int time_commitment
        primary key (id)
    }

    PEOPLE {
        id int
        first_name varchar(255)
        last_name varchar(255)
        email varchar(255)
        linkedin_url varchar(255)
        headshot_url varchar(255)
        discord_handle varchar(255)
        brief_bio varchar(255)
        date_joined date
        primary key (id)
    }

    PEOPLESKILLS {
        id int
        skills_id int
        people_id int
        date_acquired date
        primary key (id),
        foreign key (skills_id) references skills(id),
        foreign key (people_id) references people(id)
    }

    ROLES {
        id int
        name varchar(255)
        sort_priority int
        primary key (id)
    }

    PEOPLE_ROLES {
        id int
        people_id int
        role_id int
        date_role_acquired date
        primary key (id),
        foreign key (people_id) references people(id),
        foreign key (role_id) references roles(id)
    }

```


## Examples of data in the database

For the people, skills, and roles tables, provide a description of each table and it's contents. Then provide a listing of the entire table.

### People table

The *people* table contains elements that describe ... 

Below is a list of data in the *people* table.

In [ ]:
#| echo: false
#| eval: true
sql = f"""
select * from people;
"""
## Add code to list roles table here
try:
    df = pd.read_sql(sql,cnx)
    df
except Exception as e:
    message = str(e)
    print(f"An error occurred:\n\n{message}\n\nIgnoring and moving on.")
    df = pd.DataFrame()
df

### Skills table

The *skills* table contains elements that describe ... 

Below is a list of data in the *skills* table.

In [ ]:
#| echo: false
#| eval: true
sql = f"""
select * from skills;
"""
## Add code to list roles table here
try:
    df = pd.read_sql(sql,cnx)
    df
except Exception as e:
    message = str(e)
    print(f"An error occurred:\n\n{message}\n\nIgnoring and moving on.")
    df = pd.DataFrame()
df

### Roles table

The *roles* table contains elements that describe ... 

Below is a list of data in the *roles* table.

In [ ]:
#| echo: false
#| eval: true
sql = f"""
select * from roles;
"""
## Add code to list roles table here
try:
    df = pd.read_sql(sql,cnx)
    df
except Exception as e:
    message = str(e)
    print(f"An error occurred:\n\n{message}\n\nIgnoring and moving on.")
    df = pd.DataFrame()
df

## Sample queries

Let's explore the database!

# List skill names, tags, and descriptions ordered by name

(here a sample query)

In [ ]:
sql = f"""
select * from people
"""

(and here is a sample result from the query)

In [ ]:
#| echo: false
#| eval: true
try:
    df = pd.read_sql(sql,cnx)
    df
except Exception as e:
    message = str(e)
    print(f"An error occurred:\n\n{message}\n\nIgnoring and moving on.")
    df = pd.DataFrame()
df

### List people names and email addresses ordered by last_name

In [ ]:
SELECT first_name, last_name, email
FROM people
ORDER BY last_name;

### List skill names of Person 1


### List people names with Skill 6


### List people with a DEVELOPER role


### List names and email addresses of people without skills


### List names and tags of unused skills


### List people names and skill names with the BOSS role


### List ids and names of unused roles


## Reflection

(Write a paragraph expressing your thoughts, feelings, and insights about your experience with this assignment.  Pause and breath before writing - I'm trying to encourage critical thinking and self-awareness while allowing you to explore the connections between theory and practice. And yes, delete this paragraph.)